.product_info_div {
  display: flex;
  justify-content: center;
  min-height: 92.2vh; }
  .product_info_div .productInfo {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 30px 100px;
    border-radius: 20px; }
    .product_info_div .productInfo .productInfo_images {
      width: 50%;
      display: flex;
      gap: 170px;
      padding: 20px;
      justify-content: center;
      align-items: center; }
      .product_info_div .productInfo .productInfo_images section {
        width: 10%;
        display: block; }
        .product_info_div .productInfo .productInfo_images section .productInfo_otherImg {
          width: 100px;
          height: 100px;
          border-radius: 10px; }
        .product_info_div .productInfo .productInfo_images section .productInfo_otherImg:hover {
          border: 1px solid fuchsia; }
      .product_info_div .productInfo .productInfo_images .productInfo_mainImg {
        object-fit: cover;
        border-radius: 10px; }
    .product_info_div .productInfo .productInfo_content {
      width: 35%;
      padding: 130px 30px 30px 130px; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; }

.Container {
  margin: 0; }
  .Container .theme_button {
    margin-left: 100%; }
  .Container .LightSwitch {
    display: flex;
    align-items: center; }
  .Container .navbar_div {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    height: 50px; }
    .Container .navbar_div section {
      display: flex; }
      .Container .navbar_div section .NavLink {
        color: #000;
        text-decoration: none;
        padding: 0 0 0 20px; }
    .Container .navbar_div .nav_section_left .website_name {
      font-style: oblique;
      font-weight: 600;
      cursor: pointer; }
    .Container .navbar_div .nav_section_right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 4%; }
      .Container .navbar_div .nav_section_right .nav_cart_icon {
        cursor: pointer; }
  .Container .main_home_div {
    width: 70%;
    display: flex;
    gap: 30px; }
    .Container .main_home_div .main_home_categories {
      width: 15%; }
      .Container .main_home_div .main_home_categories p:hover {
        text-decoration: underline; }
      .Container .main_home_div .main_home_categories .category_title {
        font-size: 13px;
        margin-bottom: 7px;
        color: gray; }
      .Container .main_home_div .main_home_categories .category_title:hover {
        text-decoration: none; }
    .Container .main_home_div .main_home_display {
      width: 70%;
      padding: 10px; }
      .Container .main_home_div .main_home_display .product_card_div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; }
        .Container .main_home_div .main_home_display .product_card_div .card_div {
          border: none; }
        .Container .main_home_div .main_home_display .product_card_div .card_div:hover {
          border: 2px solid fuchsia;
          border-radius: 8px; }
    .Container .main_home_div .main_home_sorting {
      width: 10%; }
      .Container .main_home_div .main_home_sorting .sorting_title {
        font-size: 13px;
        margin-bottom: 7px;
        color: gray; }
    .Container .main_home_div p {
      margin: 0;
      cursor: pointer; }

.Container-dark {
  background-color: #141313;
  color: #fff; }
  .Container-dark .navbar_div section .NavLink {
    color: #fff; }

.Container-light {
  background-color: #fff;
  color: #000; }
