.product_div {
    section {
        display: flex;
        align-items: center;
        // justify-content: space-between;

        select {
            height: 50%;
        }
    }

    .product_card_div {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 15px;
        // justify-content: space-between;
        overflow: scroll;

        #product_card {
            margin-bottom: 20px;
        }

        #product_card:hover {
            transform: scale(1.03);
        }
    }

    .MuiCardMedia-img {
        width: 250px;
        height: 250px;
        object-fit: contain;
    }

    .MuiButton-contained {
        background-color: gray;
    }

    .MuiButton-contained:hover {
        background-color: darkgray;
    }

    .product_info_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .MuiButton-root {
            margin-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .productInfo {
            width: 100%;
            max-width: 100%;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;

            .productInfo_images {
                width: 50%;

                img {
                    width: 100%;
                    max-height: 300px;
                    object-fit: contain;
                    border-radius: 8px;
                    margin-bottom: 10px;
                }

                .productImages {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }
            }

            .productInfo_content {
                width: 50%;
                padding: 2%;
            }
        }
    }

}